<div id="carouselExampleIndicators" class="carousel slide">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="./images/poster.jpg"  class="d-block w-100 carimg" alt="...">
    </div>
    <div class="carousel-item">
      <img src="./images/sch.jpeg"   class="d-block w-100 carimg" alt="...">
    </div>
    <div class="carousel-item">
      <img src="./images/g2.jpeg"  class="d-block w-100 carimg" alt="...">
    </div>
    
    
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


<hr>

<h1 class="manteam">Management Member's</h1>

<div class="cont-photo">
 <div class=" teamphoto">
     
          <div class="icons">
            <img src="./images/nagendra.jpg" width="300px" class='managementimg' style="margin-top: 10px;" alt="">
          </div>
          <div class="detail-team">
            <h4>Mr.Nagendra kumar Chaurasiya</h4>
            <p>(B.Sc,B.ed,Master of Education)</p>
            <p>Mobile-9670913036</p>
            
          </div>
    </div>


    <div class=" teamphoto">
     
          <div class="icons">
            <img src="./images/ar1.jpeg" width="300px" class='managementimg' style="margin-top: 10px;" alt="">
          </div>
          <div class="detail-team">
            <h4>Dr.Arvind kumar Chaurasiya</h4>
          
            <p>Mobile-9984947458</p>
            
          </div>
    </div>

    <div class=" teamphoto">
     
          <div class="icons">
            <img src="./images/mah1.jpeg" width="300px" class='managementimg' style="margin-top: 10px;" alt="">
          </div>
          <div class="detail-team">
            <h4>Dr.Mahendra Pratap</h4>
          
            <p>Mobile-9305219014</p>
            
          </div>
    </div>

    <div class=" teamphoto">
     
          <div class="icons">
            <img src="./images/bab1.jpeg" width="300px" class='managementimg' style="margin-top: 10px;" alt="">
          </div>
          <div class="detail-team">
            <h4>Mr.Surendra Pratap Chaurasiya</h4>
            
            <p>Mobile-9919200510 </p>
            
          </div>
    </div>

    <div class=" teamphoto">
     
          <div class="icons">
            <img src="./images/nana.jpg" width="300px" class='managementimg' style="margin-top: 10px;" alt="">
          </div>
         
    </div>

    
    </div>
    