<h1  class="manteam" style="margin: 20px 10px;"> Location </h1>
<div class="container-fluid mt-5 about-style" id="aboutid">
    <div class="row">
      <div class="col-md-10 col-12 mx-auto ">
       
        <div class="row">
             
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14233.236276207388!2d82.78961025290826!3d26.8936846265327!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3990d15fd0f4f3ef%3A0x34cedb9c7ff2a081!2sPlan%2C%20Uttar%20Pradesh%20272002!5e0!3m2!1sen!2sin!4v1687447485855!5m2!1sen!2sin" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>

      </div>
    </div>

   </div>
 
  