<h1 class="manteam">Contact US</h1>
  <div class="container py-5 formcont  ">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-8 col-xl-6 " >
        <div class="card rounded-3">
    
          <div class="card-body p-4 p-md-5">
            <form action="/sendmsg" method="POST" class="px-md-2">

              <div class="form-outline mb-4">
                <label class="form-label "  for="form3Example1q">Name</label>
                <input type="text" name="name" id="form3Example1q" class="form-control" placeholder="name" required="true" />
                
              </div>

              <div class="form-outline mb-4">
                <label class="form-label" for="form3Example1q">Phone No.</label>
                <input type="number" name="number" id="form3Example1q" class="form-control" required="true" placeholder="phone" />
                
              </div>

              <div class="form-outline mb-4">
                <label class="form-label" for="form3Example1q">Message</label>
                <input type="text" name="message" id="form3Example1q" class="form-control"required="true" placeholder="message" />
                
              </div>

    

              <button type="submit" class="btn btn-success btn-lg mb-1">Submit</button>

            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
