<hr>
<h2 class="manteam">Gallery</h2>

<div class="cont-photo">
 <div class=" teamphoto-gallery">
     
          <div class="icons">
            <img src="./images/g1.jpeg" width="300px" height="200px" class='managementimg' style="margin-top: 10px;" alt="">
          </div>
          
    </div>

    
 <div class=" teamphoto-gallery">
     
          <div class="icons">
            <img src="./images/g2.jpeg" width="300px" class='managementimg' style="margin-top: 10px;" alt="">
          </div>
          
    </div>


   
 <div class=" teamphoto-gallery">
     
          <div class="icons">
            <img src="./images/g3.jpeg" width="300px" class='managementimg' style="margin-top: 10px;" alt="">
          </div>
          
    </div>


    
 <div class=" teamphoto-gallery">
     
          <div class="icons">
            <img src="./images/g4.jpeg" width="300px" class='managementimg' style="margin-top: 10px;" alt="">
          </div>
          
    </div>

   
 


 <div class=" teamphoto-gallery">
     
          <div class="icons">
            <img src="./images/g6.jpeg" width="300px" height="300px" class='managementimg' style="margin-top: 10px;" alt="">
          </div>
          
    </div>


  
 <div class=" teamphoto-gallery">
     
          <div class="icons">
            <img src="./images/g7.jpeg" width="300px" class='managementimg' style="margin-top: 10px;" alt="">
          </div>
          
    </div>


   
 <div class=" teamphoto-gallery">
     
          <div class="icons">
            <img src="./images/g8.jpeg" width="300px" class='managementimg' style="margin-top: 10px;" alt="">
          </div>
          
    </div>

    
 <div class=" teamphoto-gallery">
     
          <div class="icons">
            <img src="./images/g9.jpeg" width="300px" height="300px" class='managementimg' style="margin-top: 10px;" alt="">
          </div>
          
    </div>

     <div class=" teamphoto-gallery">
     
          <div class="icons">
            <img src="./images/g10.jpeg" width="300px" height="300px" class='managementimg' style="margin-top: 10px;" alt="">
          </div>
          
    </div>

     <div class=" teamphoto-gallery">
     
          <div class="icons">
            <img src="./images/g11.jpeg" width="300px" class='managementimg' style="margin-top: 10px;" alt="">
          </div>
          
    </div>

     

     <div class=" teamphoto-gallery">
     
          <div class="icons">
            <img src="./images/g13.jpeg" width="300px" class='managementimg' style="margin-top: 10px;" alt="">
          </div>
          
    </div>

     <div class=" teamphoto-gallery">
     
          <div class="icons">
            <img src="./images/g14.jpeg" width="300px" height="300px" class='managementimg' style="margin-top: 10px;" alt="">
          </div>
          
    </div>



    
    
    </div>